/* --- ROOT CSS --- */

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    line-height: 1.6em;
    background: #000;
    /* background-image: -webkit-linear-gradient(45deg, #ddc9b9 0%, #daf0f2 100%); */
    /* background-image: -webkit-linear-gradient(45deg, #cccaf1 0%, #a7dee4 100%); */
    /* background-image: -webkit-linear-gradient(45deg, #e8dbc5 0%, #a7dee4 100%); */
    /* background-image: -webkit-linear-gradient(45deg, #b5cbe0 0%, #a7dee4 100%); */
    /* background: -webkit-linear-gradient(45deg,  #e8dbc5 5%, #caccf1 5%, #a7dee4 70%, #a7dee4 95%, #e8dbc5 95%); */
    /* background: -webkit-linear-gradient(45deg, #def1de 30%, #a7dee4 70%); */
    /* background: -webkit-linear-gradient(45deg, #def1de 0%, #a7dee4 100%); */
    /* background: -webkit-linear-gradient(45deg, #caccf1 0%, #a7dee4 70%); */
    /* background: -webkit-linear-gradient(45deg, #bad1ef 0%, #a7dee4 70%); */
    /* background: -webkit-linear-gradient(45deg, #def1de 0%, #2d9de6 100%); */
    /* background: -webkit-linear-gradient(45deg, #2f3136 0%, #36393f 100%); */
    background: -webkit-linear-gradient(45deg, #dcdcdc 0%, #dedede 100%);
}

/* Move the view around */
body.mouseMoveView * {
    cursor: move !important;
}

/* Grab node */
body.mouseGrabReady * {
    cursor: -webkit-grab !important;
}
body.mouseGrabbing * {
    cursor: -webkit-grabbing !important;
}

/* Marquee cursor */
body.mouseMarquee * {
    cursor: crosshair !important;
}

#app-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
    background-size: 100px 100px;
    background-image: url("../images/grid-bg-100x100-100px25px-trans-4-2.png");
    /* background-color: #333333;
    background-image: 
    -webkit-linear-gradient(left,#484848 1px,transparent 0),
    -webkit-linear-gradient(top,#484848 1px,transparent 0),
    -webkit-linear-gradient(left,#3e3e3e 1px,transparent 0),
    -webkit-linear-gradient(top,#3e3e3e 1px,transparent 0);
    background-size: 100px 100px, 100px 100px, 25px 25px, 25px 25px; */
    transform-style: preserve-3d;
    z-index: -1000;
}

/* Halo of light */
#app-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(40% 40%, rgba(255,255,255,0.1) 10%, transparent 100%);
}

/* Vignette */
#app-bg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(circle, transparent 85%, rgba(0, 0, 0, 0.45) 150%);
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
    display: none;
}

/* --- GLOBAL CSS --- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

textarea, input, button, select, .editor {
    outline: none;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: bottom;
    margin-bottom: 6px;
}

a { 
    color: #2f919a;
    text-decoration: none;
    transition: color 0.25s;
}
a:hover {
    color: #000;
}

.templates, .hidden {
    display: none; 
}

/* --- SCROLLBAR --- */

/* ::-webkit-scrollbar {
    background: -webkit-linear-gradient(top, #eee, #f4f4f4 50%, #eee);
    border-radius: 12px;
    border: 1px solid #e8e8e8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 12px;
    border: 1px solid #ccc;
}
::-webkit-scrollbar-thumb:hover { background: #289aa5; border: 1px solid #148691; } */

/* --- VARIOUS CSS --- */

/* App name & version */
.app-info {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #000;
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.4;
    line-height: 1.2em;
    z-index:-10;
}

.app-info span {
    display: block;
}

.app-title {
    font-weight: bold;
}

.app-version::before {
    content: "Version ";
}

/* --- MENU --- */

.app-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.app-menu .menu {
    width: 140px;
    float: left;
    display: inline;
    margin-left: 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    color: #666;
    text-transform: uppercase;
    background: #fff;
    cursor: pointer;
}

.app-menu .menu:first-child {
    margin-left: 0;
}

.app-menu .title
{
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    height: 50px;
    line-height: 20px;
    font-weight: bold;
    float: left;
    transition: background 0.25s;
}

.app-menu .dropdown
{
    transition: max-height 0.5s;
    max-height: 0px;
    overflow: auto;
    float: left;
}

.app-menu .dropdown .item
{
    box-sizing: border-box;
    float: left;
    display: block;
    width: 100%;
    padding: 10px;
}

.app-menu .dropdown .item:hover
{
    background: #eee;
    color: #000;
}

.app-menu .dropdown .item:active {
    background: #ddd;
    color: #555;
}

.app-menu .dropdown .search-field {
    box-sizing: border-box;
    float: left;
    display: block;
    width: 100%;
    padding: 10px;
}

.app-menu .menu:hover .dropdown {
    max-height: 400px;
}

.app-menu .menu:hover .title {
    background: #f4f4f4;
}

.app-menu .menu:active .title {
    background: #ddd;
    color: #555;
}

/* --- NODE SEARCH--- */

.app-search {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px 20px 10px 10px;
}

.app-search input {
    padding: 4px 8px 4px 8px;
    /* font-family: "Lucida Console", Monaco, monospace; */
    margin-left: 10px;
    margin-right: 4px;
}
.app-search input:focus {
    outline: 5px auto #6eaef7;
}
.app-search .search-field {
    margin-left: 0px;
    margin-right: 0px;
}
.app-search .search-field::placeholder {
    opacity: 0.5;
}
.app-search input[type="checkbox"] {
    cursor: pointer;
}

.app-search .search-item {
    display: inline;
}

/* --- ZOOM --- */

.app-zoom {
    float: left;
    display: inline;
    margin-left: 20px;
    
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.app-zoom span {
    width: 32px;
    height: 32px;
    margin: 8px;
    background: #fff url("../images/zooms.png") no-repeat;
    float: left;
    display: inline;
    opacity: 0.25;
    cursor: pointer;
    transition: opacity 0.25s;
}

.app-zoom span:nth-child(2) { background-position: -32px 0px; }
.app-zoom span:nth-child(3) { background-position: -64px 0px; }
.app-zoom span:nth-child(4) { background-position: -96px 0px; }
.app-zoom span:hover {
    opacity: 0.50;
}

/* --- SORT --- */

.app-sort {
    position: absolute;
    top: 83px;
    left: 20px;
    
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 10px;
    z-index: 99;
}

.app-sort span {
    width: 32px;
    height: 32px;
    background: #fff url("../images/sort.png") no-repeat;
    float: left;
    display: inline;
    cursor: pointer;

    opacity: 0.25;
    transform-origin: 50% 50%;
    transition: opacity .3s ease;
}

.app-sort span:not(:last-child) {
    margin-right: 8px;
}

.app-sort span:nth-child(2) { background-position: -32px 0px; }
.app-sort span:nth-child(3) { background-position: -64px 0px; }
.app-sort span:nth-child(4) { background-position: -96px 0px; }
.app-sort span:hover {
    opacity: 0.50;
}

/* --- NODE WINDOW CSS --- */

.arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nodes {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.nodes-holder {
    position: absolute;
}

.node {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid #fff;
    cursor: pointer;
}

.node:hover {
    border: 1px solid #6eaef7;
    box-shadow: 0 0px 8px 0 rgba(11, 137, 245, 0.37);
}
.node.selected {
    border: 1px solid #6eaef7;
    box-shadow: 0 0px 8px 0 rgba(11, 137, 245, 0.37);
}
.node.focused {
    border: 1px solid rgba(11, 137, 245, 1);
    box-shadow: 0 0px 0px 1px rgba(11, 137, 245, 1),
                0 0px 4px 0 rgba(11, 137, 245, 1);
}
.node.selected.focused,
.node.focused:hover {
    border: 1px solid rgba(11, 137, 245, 1);
    box-shadow: 0 0px 0px 1px rgba(11, 137, 245, 1),
                0 0px 4px 0 rgba(11, 137, 245, 1);
}

.zoomLevel-1 .node {
    border-width: 1px !important;
}
.zoomLevel-2 .node {
    border-width: 2px !important;
}
.zoomLevel-3 .node {
    border-width: 4px !important;
}
.zoomLevel-4 .node {
    border-width: 8px !important;
}
.zoomLevel-5 .node {
    border-width: 16px !important;
}

.node .title {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    transition: color 0.25s, background 0.25s;
    overflow: hidden;
}
.node .title:hover {
    cursor: -webkit-grab;
}


.node .body {
    position: absolute;
    box-sizing: border-box;
    top: 40px;
    width: 100%;
    height: calc(100% - 48px);
    padding: 8px 8px 8px 8px;
    font-size: 0.8em;
    overflow: hidden;
    font-family: "Lucida Console", Monaco, monospace;
    color: #666;
    line-height: 1.3em;
}

.node .body p {
    display: inline;
    margin: 0;
    padding: 0;
}

.node:hover .body {
    overflow: auto;
}

.node .body-expanded {
    overflow: auto;
}

.node .tags {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 2px 4px 2px 4px;
    bottom: 0px;
    border-top: 1px solid #ddd;
    background: #f2f0eb;
    overflow: hidden;
}

.node .tags span {
    padding: 4px 8px 4px 8px;
    margin: 4px 4px 0px 0px;
    font-size: 0.8em;
    background: #e4dbcb;
    color: #978e7e;
    border-radius: 4px;
}

.node .resize {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
}

.inactive, .inactive:hover { 
    border: 1px solid #fff;
    cursor: default;
    pointer-events:none;
}
.inactive .edit, .inactive .delete, .inactive:hover .edit, .inactive:hover .delete { 
    opacity: 0; 
}

/* --- NODE EDITOR --- */

.node-editor {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
}

.node-editor .form {
    position: absolute;
    box-sizing: border-box;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    padding: 20px 20px 30px 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px #000;
}

.node-editor .form input.title,
.node-editor .form input.tags {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2em;
    color: #666;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #eee;
    font-family: "Lucida Console", Monaco, monospace;
}

.node-editor .form input[type="text"]::placeholder {
    opacity: 0.35;
    font-style: italic;
}

.node-editor .form .editor-container {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 120px);
}

.node-editor .form .editor {
    white-space: pre;
    box-sizing: border-box;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    color: #666;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: text;
}

.node-editor .form .editor-footer {
    font-size: 0.75em;
    line-height: 1;
    font-family: "Lucida Console", Monaco, monospace;
    /* background: #e8e8e8; */
    color: #777;
    list-style: none;
    margin: 2px 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}
.node-editor .form .editor-footer .item-info {
    display: block;
    padding: 8px 8px 4px;
}
.node-editor .form .editor-footer .item-info:hover {
    /* background:#f8f8f8; */
}
.node-editor .form .editor-footer .item-info span {
    font-weight: bold;
    color: #555;
}

/* Temp */
.node-editor .form .app-menu {
    top: 60px;
}

/* --- EDITOR HIGHLIGHTING --- */
/* see cm-vinescript.css */

.editor p, .node .body p { 
    display: inline;
    margin: 0;
    padding: 0;
}

.node .body .linkname {
    /* color: #3ecfe9; */
    color: rgb(5, 83, 173);
}

.node .body .linkbounds {
    /* color: #0ec0e0; */
    color: rgb(27, 88, 255);
}

.node .body .linkerror {
    /* color: #3ecfe9; */
    color: red;
}

.node .body .condition {
    /* color: #e93ecf; */
    color: #708;
}

.node .body .conditionbounds {
    /* color: #e00ec0; */
    color: #708;
}

.node .body .comment {
    /* color: #44fe66; */
    color: #a50;
}

/* --- NODE DELETE --- */

.node-delete {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
    
}

.node-delete .form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    width: 200px;
    height: 120px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #000;
}

/* --- MARQUEE --- */

#marquee {
    z-index: 10;
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid #6eaef7;
    background-color: rgba(10, 96, 164, 0.2);
}

/* --- MEDIA --- */

@media (max-width: 830px) {
    .app-search {
        position: relative;
        float: left;
    }
    .app-menu {
        position: relative;
        float: right;
        margin-top: 20px;
    }
}
